.login-dialog {
	animation: show-in 0.5s;
}

@keyframes show-in {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

/* images */

[data-block='true'] figure {
	width: 100%;
	aspect-ratio: 1.5;
	display: flex;
	flex-direction: column;

	& > img {
		flex-grow: 1;
		object-fit: cover;
		object-position: center;
	}

	& > figcaption {
		display: inline-block;
		text-align: center;
		font-size: 0.75rem;
	}
}

/* tables */

[data-block='true'] table,
tr,
td,
th {
	transition: all 0.2s;
}

[data-block='true'] td,
th {
	padding: 0.5rem;
	width: 0;
	flex-grow: 1;
	border: 1px solid hsl(240deg 10% 50%);
}

[data-block='true'] table {
	width: 100%;
	border-collapse: collapse;
}

[data-block='true'] tr {
	width: 100%;
	display: flex;
}

[data-block='true'] tr:hover:hover:hover {
	background-color: hsl(60deg 100% 91.57%);
	color: black;
}

[data-block='true'] tbody > tr:nth-child(odd) {
	background-color: hsl(120deg 10% 91.57%);
}

[data-block='true'] thead tr {
	background-color: black;
	color: white;
}

/* tables - darkmode */

html.dark [data-block='true'] tbody > tr:nth-child(odd) {
	background-color: hsl(120deg 5% 50%);
}

/* because of prettier, if I put th,td together, css gets interpreted */
/* as (selector 1), td */
html.dark [data-block='true'] th {
	border: 1px solid white;
}

html.dark [data-block='true'] td {
	border: 1px solid white;
}

/* links */

[data-block='true'] a {
	font-weight: bold;
	color: hsl(224, 64%, 33%);
}

[data-block='true'] a:hover {
	text-decoration: underline;
	filter: brightness(1.5);
}

/* links - darkmode */

html.dark [data-block='true'] a {
	color: hsl(50, 98%, 64%);
}

html.dark [data-block='true'] a:hover {
	filter: brightness(0.75);
}

/* headings */

[data-block='true'] h1:not(:nth-of-type(1)) {
	font-size: 2rem;
}

[data-block='true'] h2 {
	font-size: 1.5rem;
}

[data-block='true'] h3 {
	font-size: 1.25rem;
}

[data-block='true'] h4 {
	font-size: 1rem;
}

[data-block='true'] h5 {
	font-size: 0.75rem;
}

/* lists */

[data-block='true'] ul {
	list-style: disc;
}
