@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburger-more {
	.navbar-options {
		visibility: hidden;
	}
}

.hamburger-more:hover {
	.navbar-options {
		visibility: visible;
	}
}

@layer utilities {
	.featured-post {
		@apply relative;
		&::after {
			content: '';
			top: calc(100% + 7px);
			position: absolute;
		}
	}
}
